.Foot{
    background-color: #e0e0e0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    height: 20px;
    
}

.Ux{
    
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    width: 50px;
    
}